html {
    min-width: 768px !important;
    overflow-x: auto !important;
    @apply bg-white;
    &.dark {
        @apply bg-darkmode-800;
        body {
            @apply text-slate-300;
            *,
            ::before,
            ::after {
                @apply border-white/5;
            }
        }
    }
    body {
        @apply antialiased overflow-x-hidden font-pretendard text-sm text-slate-800 overflow-y-hidden;
        background: var(--color-grey-600);
        /* @include media-breakpoint-down(sm) {
            @apply px-3;
        } */
    }
}
